.txt {
  cursor: pointer;
}

.txt:hover {
  text-decoration: underline;
}

.con {
  outline: none !important;
}

img {
  transition: transform 100ms ease-in;
}

.abs {
  position: absolute;
  z-index: 1;
}

.over {
  max-width: 250px;
}

.card {
  cursor: pointer;
}

img:hover {
  transform: scale(1.07);
}

@media screen and (max-width: 1050px) {
  .navbarinput {
    width: 150px !important;
  }
  .hIcon {
    width: 30px !important;
  }

  .sidebar {
    position: fixed !important;
    margin-top: 60px !important;
  }

  .micn {
    display: none;
  }

  .avatar {
    padding-right: 10px !important;
  }

  .yImg {
    margin-left: 5px !important;
  }

  .itemsUl {
    display: none;
  }
}

.noBo {
  border: none !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  color: #ccc !important;
}
